extends layout

block content
	h1 SUPER-ADMIN
	.container-fluid
		.row
			div.col-md-5.col-md-1-offset
				h2 Add a school and its students
				input#path-students(placeholder='folder/file name in datas folder')
				a#execute-students.btn.btn-default Exécute script
			div.col-md-5.col-md-1-offset
				h2 Add the school's admins
				input#path-admins(placeholder='folder/file name in datas folder')
				a#execute-admins.btn.btn-default Exécute script
		.row
			div.col-md-5.col-md-1-offset
				h2#tmm1 Update MongoDB
				h6 With lib/update_mongo.js
				h2#tmm2(hidden=true) Update MongoDB done
				a#updateMongo.btn.btn-default Exécute script

block footscript
	script.
		$(document).ready(function(){
			$('#execute-students').click(function(){
				const path = $('#path-students').val();
				console.log(Date.parse(' 2002-12-10'));
				$.post('/import_students', {path: path}, function(){
					console.log('IN post with path : ' + path);
				});
			});
			$('#execute-admins').click(function(){
				const path = $('#path-admins').val();
				console.log(Date.parse('2002-12-10'));
				$.post('/import_admins', {path: path}, function(){
					console.log('IN post with path : ' + path);
				});
			});
			$("#updateMongo").click(function () {
				if (confirm('Are you sure to updateMongo')) {
					$.post('/update_mongo').done(function(){
						$("#tmm1").hide("slow");
						$(this).hide("slow");
						$("#tmm2").show("slow");
					});
				};
			});
		});
